:root {
  /* transition */
  --transition: 360ms ease;

  /* Spacing */
  --space: 0.25rem;

  /* font style */
  --font-component: 'Poppins', 'Pretendard', sans-serif;
  --font-content: 'Pretendard', sans-serif;
  --font-banner: 'Cafe24Surround';

  /* z-index */
  --z-base: 1;
  --z-dropdown: 1000;
  --z-appbar: 1019;
  --z-sticky: 1020;
  --z-fixed: 1030;
  --z-modal-backdrop: 1040;
  --z-modal: 1050;
  --z-toast: 1060;

  /* padding */
  --padding-s: 0.25rem;
  --padding-m: 0.5rem;
  --padding-l: 1rem;
  --padding-xl: 1.5rem;
  --padding-xxl: 2rem;

  /* radius */
  --radius-s: 0.25rem;
  --radius-m: 0.5rem;
  --radius-l: 1rem;

  /* gap */
  --gap-s: 0.25rem;
  --gap-m: 0.5rem;
  --gap-l: 1rem;

  /* margin */
  --margin-s: 0.25rem;
  --margin-m: 0.5rem;
  --margin-l: 1rem;

  /* font size */
  --font-size-caption-s: calc(var(--space) * 3);
  --font-size-caption-m: calc(var(--space) * 3.5);
  --font-size-body: calc(var(--space) * 4);
  --font-size-lead: calc(var(--space) * 4.5);
  --font-size-subhead: calc(var(--space) * 5);
  --font-size-head: calc(var(--space) * 6);
}

.line {
	width: 100%;
	height: 1px;
	background-color: var(--color-border);
	margin-bottom: 2px;
}

.fs-title {
	font-size: 1.6rem;
}

.round-m {
	border-radius: var(--radius-m) !important;
}

.round-s {
	border-radius: var(--radius-s) !important;
}

@media (min-width: 350px) {
  :root {
    --font-size-caption-s: calc(var(--space) * 2.5);
    --font-size-caption-m: calc(var(--space) * 3);
    --font-size-body: calc(var(--space) * 3.5);
    --font-size-lead: calc(var(--space) * 4);
    --font-size-subhead: calc(var(--space) * 4.5);
    --font-size-head: calc(var(--space) * 5.5);
  }
}

@media (min-width: 1024px) {
	:root {
		--font-size-caption-s: calc(var(--space) * 3);
	  --font-size-caption-m: calc(var(--space) * 3.5);
	  --font-size-body: calc(var(--space) * 4);
	  --font-size-lead: calc(var(--space) * 4.5);
	  --font-size-subhead: calc(var(--space) * 5);
	  --font-size-head: calc(var(--space) * 6);
	}
}