<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/core.css">
	<script src="/js/util/easyplan-utilities.js"></script>
	<title>Easyplan</title>
</head>
<body>
	<!-- app start -->
	<div class="app">
		<aside th:replace="~{fragment/component/sidebar :: ASSET_SIDEBAR}"></aside>
		<div class="app-right">
			<div th:replace="~{fragment/component/topbar :: MAIN_TOPBAR}"></div>
			<div class="main">
				
			</div>
		</div>
	</div>
	<script src="/js/theme.js"></script>
	<script src="/js/app.js"></script>
</body>
</html>