<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-theme="dark">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/core.css">
	<script src="/js/util/easyplan-utilities.js"></script>
  <title>Esayplan</title>
</head>
<body>
	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100vw; height: 100vh;">
		<img src="/images/sublogo.png" style="width: 10rem; margin-bottom: 48px;">
		<span class="fc-text">이메일 인증이 <span class="fc-info">완료</span> 되었습니다.</span>
		<a href="https://easyplan.onrender.com" class="btn btn-primary center" style="margin-top: 48px; width: 10rem; font-size: var(--font-size-body);">로그인</a>
	</div>
</body>
</html>